* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 300;
    /* overflow: hidden; */
}

h1 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.aside-1 {
    background-color: green;
    flex-shrink: 0;
}

.user-info {
    background-color: darkslategrey;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .7rem 1.5rem;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info p {
    padding-left: 1rem;
    color: #fff;
}

.aside-1 section:first-of-type {
    padding: 1rem 0;
    /* border-bottom: 1px solid #aaa; */
}

.aside-1 section::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 1rem;
}

.menu-item__link {
    display: block;
    padding: .7rem 2rem;
    border-left: 3px solid transparent;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: .85rem;
}

.menu-item__link i {
    width: 30px;
}

.menu-item__link:link,
.menu-item__link:visited {
    text-decoration: none;
    color: #fff;
}

.menu-item__link:active,
.menu-item__link:hover {
    font-weight: 500;
    border-left-color: #fff;
}

.menu-items .menu-item__link.active {
    border-left-color: #fff;
    position: relative;
}

.menu-items .active.menu-item__link::after {
    content: "";
    position: absolute;
    right: 0;
    top:0;
}

.categories ul {
    list-style: none;
    font-size: .8rem;
}

li.category-item {
    display: block;
    padding: .5rem 2rem;
}

.category-item .category-item__link{
    text-decoration: none;
    color: #fff;
}

.category-item .category-item__link:visited,
.category-item .category-item__link:link {
    text-decoration: none;
    color: #fff;
}

.bullet,
.category-item > span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-right: .5rem;
    color: #fff;
}

.bullet.bullet-red {
    background-color: red;
}

.bullet.bullet-green {
    background-color: green;
}

.bullet.bullet-blue {
    background-color: aqua;
}

.bullet.bullet-yellow {
    background-color: yellow;
}

.add-category-item__link {
    text-decoration: none;
    color: #fff;
}

footer.sidebar-footer {
    padding: 0 2rem;
    margin-bottom: 4rem;
    position: absolute;
    bottom: 0;
}

.copy-right-text {
    font-size: .7rem;
    color: #fff;
    font-weight: 300;
}

.social-items {
    margin-bottom: .5rem;
}

.social-items .social-item {
    color: #fff;
    font-size: .8rem;
    margin-right: .6rem;
    text-decoration: none;
}












.main-panel {
    background-color: darkcyan;
    flex-grow: 1;
}

.top-header {
    height: 70px;
    padding: 1rem 2rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.search-box {
    position: relative;
}

.search-box input {
    height: 100%;
    padding: .5rem .5rem .5rem 2rem;
}

.search-box input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    font-size: 1.5rem;
    top: 10%;
    color: gray;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-icons p {
    padding-left: 1rem;
    padding-right: 2rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-icons span {
    font-size: 1.5rem;
}

.notification-icon {
    cursor: pointer;
    position: relative;
}

.notification-icon .has-notification::after {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid red;
    border-radius: 4px;
    top: 0;
    right: 0;
}

.main-content {
    padding: 1rem 2rem;
}

.notes-header {
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: .8rem;
}

.notes-header .categories-filter {
}

.notes-header .categories-filter a {
    text-decoration: none;
    padding: .4rem 1rem;
    border-radius: 2px;
    transition: background-color .3s;
}

.notes-header .categories-filter a:link,
.notes-header .categories-filter a:visited {
    text-decoration: none;
    color: inherit;
}

.notes-header .categories-filter a:hover,
.notes-header .categories-filter a:active {
    background-color: darkkhaki;
}

.notes-header .categories-filter a.active {
    background-color: darkkhaki;
}

.notes-action {
    text-decoration: none;
    border: 1px solid transparent;
    transition: border-bottom .3s;
}

.notes-action:link,
.notes-action:visited {
    text-decoration: none;
    color: inherit;
}

.notes-action:hover,
.notes-action:active {
    border-bottom-color: gray;
}

.notes-action i {
    margin-right: .3rem;
}

.notes-wrapper {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: cornflowerblue;
    padding: .7rem 0;
    gap: 1rem .5rem;
    overflow-y: auto;
}

.note {
    width: 23%;
    min-width: 200px;
    height: 200px;
    padding: 1rem 1rem 2rem 1rem;
    overflow: hidden;
    background-color: cornsilk;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #888;
}

.note .note-date {
    font-size: .7rem;
    font-weight: 300;
    margin-bottom: .7rem;
}

.note .note-title {
    font-size: 1.2rem;
    font-weight: 400;
    max-height: 110px;
    margin-bottom: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note .note-content {
    font-size: .9rem;
    /* text-align: justify; */
    overflow: hidden;
}

.note .note-content p {
    max-height: 80px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.note .note-image {
    max-height: 90px;
    width: 100%;
}






















































@media screen and (max-width: 476){
    /* .aside-1 {
        display: none;
    }

    .main-panel {
        flex: 1 100%;
    } */
}